body{
    font-family: verdana;
    background-color: rgb(95, 89, 89);
}
#myButton{
    font-size: 3 rem;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: black;
}
#myLabel{
    font-size: 3 rem;  
}

.roll{
max-width: 100px;
display: flex;
}
.age{
    background-color: #babae1;
    border-radius: 10px;
    text-align: center;
}
#numberContainer{
    border-radius: 10px;
}
#submitOne{
    border-radius: 10px;
    border: none;
    background-color: #252121;
    color: white;
}